<div class="row">
    <div class="col-sm-4">
        <img src="~/Images/jmcv.jpg" class="img-responsive img-thumbnail" alt="Janusz Marcinik photo" />
    </div>
    <div class="col-sm-8 text-center">
        <h1>
            <small>Curriculum Vitae</small><br />
            <strong>Janusz Marcinik</strong>
        </h1>
        <h2><span class="label label-blue">.NET Developer</span></h2>

        <div class="bs-callout bs-callout-info" style="padding: 0;">
            <h4>
                <i class="fa fa-fw fa-facebook-square" aria-hidden="true"></i>
                <a href="https://www.facebook.com/janusz.marcinik" target="_blank">
                    https://www.facebook.com/janusz.marcinik
                </a>
            </h4>
        </div>
        <div class="bs-callout bs-callout-info" style="padding: 0;">
            <h4>
                <i class="fa fa-fw fa-linkedin-square" aria-hidden="true"></i>
                <a href="https://www.linkedin.com/in/janusz-marcinik-371045144" target="_blank">
                    https://www.linkedin.com/in/janusz-marcinik-371045144
                </a>
            </h4>
        </div>
        <div class="bs-callout bs-callout-info" style="padding: 0;">
            <h4>
                <i class="fa fa-fw fa-github-square" aria-hidden="true"></i>
                <a href="https://github.com/januszmarcinik" target="_blank">
                    https://github.com/januszmarcinik
                </a>
            </h4>
        </div>
    </div>
</div>

<h2><span class="label label-blue"><i class="fa fa-id-card-o" aria-hidden="true"></i> Podstawowe informacje</span></h2>
<div style="font-size: 1.2em">
    <i class="fa fa-fw fa-home"></i>Adres: <strong>38-606 Baligród, Wincentego Pola 5</strong><br />
    <i class="fa fa-fw fa-envelope"></i>Email: <strong>januszmarcinik@gmail.com</strong><br />
    <i class="fa fa-fw fa-mobile-phone"></i>Telefon: <strong>+48 726-816-283</strong><br />
    <i class="fa fa-fw fa-user"></i>Data urodzenia: <strong>19.06.1994r.</strong><br />
    <i class="fa fa-fw fa-language"></i>Język obcy: <strong>Angielski B1+</strong><br />
    <i class="fa fa-fw fa-gamepad"></i>Zainteresowania: <strong>Książki, piłka nożna, żużel</strong><br />
    <i class="fa fa-fw fa-info"></i>Dodatkowe: <strong>Prawo jazdy kat.B</strong><br />
</div>

<h2><span class="label label-blue"><i class="fa fa-fw fa-graduation-cap"></i> Edukacja</span></h2>
<h4>
    <small>2015 - obecnie<br /></small>
    Wyższa Szkoła Informatyki i Zarządzania w Rzeszowie<br />
    <small>Kierunek: Informatyka, Specjalizacja: Programowanie</small>
</h4>

<h2><span class="label label-blue"><i class="fa fa-fw fa-briefcase"></i> Praca</span></h2>
<h4>
    <small>01.2018 - obecnie<br /></small>
    PGS Software S.A., 35-234 Rzeszów, ul. gen. Stanisława Maczka 6 <br />
    <small>Stanowisko: .NET Developer</small>
</h4>
<hr />
<h4><strong>Praca w zespole, tworzącym projekt typu HRM, dla klienta z bliskiego wchodu:</strong></h4>
<ul>
    <li>Codzienny, bezpośredni kontakt z klientem</li>
    <li>Wykorzystywane technologie: Ports & Adapters, C# .NET MVC 5 / WebApi 2, SQL Server 2016, ElasticSearch, AngularJS</li>
    <li>Zarządzanie projektem w systemie VSTS (TFS) (Agile, Kanban)</li>
    <li>Proces wykonywania zadań: branch per task, pull request, code review, merge</li>
</ul>
<h4><strong>Warsztaty i rozwój osobisty:</strong></h4>
<ul>
    <li>Prowadzenie warsztatu z serii Azure - Azure Redis Cache</li>
    <li>Udział w comiesięcznych spotkaniach programistów "rg-dev"</li>
    <li>Uczestnictwo w konferencji Rzesmiosło.IT</li>
    <li>Udział w zajęciach z języka angielskiego (General English)</li>
</ul>

<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br />
<h4>
    <small>12.2016 - 12.2017<br /></small>
    Ideo Sp. z o.o., 35-234 Rzeszów, ul. Nad Przyrwą 13<br />
    <small>Stanowisko: .NET Developer</small>
</h4>
<hr />
<h4><strong>Wykonywane zadania</strong></h4>
<ul>
    <li>Tworzenie oprogramowania usprawniającego procesy produkcyjne</li>
    <li>Współtworzenie oprogramowania dla przedsiębiorstw typu B2B</li>
    <li>Wykorzystywane technologie: ASP.NET MVC 5, C#, SQL Server, EntityFramework, WebService, WebApi, SOAP</li>
    <li>Integracja z systemami ERP: Insert GT, Insert Navireo</li>
    <li>Praca w systemie kontroli wersji GIT</li>
    <li>Wdrażanie oraz utrzymywanie aplikacji na serwerze klienta</li>
    <li>Bezpośredni kontakt z klientem</li>
    <li>Wyjazdy służbowe celem ustaleń wymagań projektów</li>
</ul>

<h2><span class="label label-blue"><i class="fa fa-fw fa-microchip"></i> Technologie</span></h2>
<ul>
    <li>Backend: <strong>.NET Core, ASP.NET MVC / WebApi</strong></li>
    <li>Chmura: <strong>Microsoft Azure</strong></li>
    <li>Frontend: <strong>AngularJS, Angular 2+</strong></li>
</ul>

<h2><span class="label label-blue"><i class="fa fa-fw fa-cogs"></i> Narzędzia</span></h2>
<ul>
    <li>Języki programowania: <strong>C#, JavaScript, TypeScript, T-SQL</strong></li>
    <li>Azure: <strong>Web App, Service Bus, Service Fabric, Storage, Redis Cache, Cosmos DB, VMs, VN-et</strong></li>
    <li>Bazy danych: <strong>SQL Server 2012, 2014, 2016, 2017</strong></li>
    <li>Zarządzanie kontrolą wersji: <strong>GIT, SourceTree, VSTS (TFS), TortoiseGit, VS Team Explorer, BitBucket, GitHub, GitLab</strong></li>
    <li>Testowanie: <strong>Moq, NSubstitute, xUnit, FluentAssertions</strong></li>
    <li>IoC / DI: <strong>Autofac, Unity, Ninject</strong></li>
    <li>Zarządzanie danymi: <strong>ElasicSearch, Azure Tables, Azure Cosmos DB, Redis Cache, EntityFramework, Dapper</strong></li>
    <li>Zarządzanie projektami: <strong>Redmine, VSTS (TFS), Jira</strong></li>
    <li>CI / CD: <strong>VSTS (TFS), Jenkins</strong></li>
    <li>Logowanie: <strong>NLog, Serilog, SEQ, Kibana</strong></li>
    <li>Pozostałe: <strong>LINQ, Swagger, AutoMapper</strong></li>
</ul>

<h2><span class="label label-blue"><i class="fa fa-fw fa-cubes"></i> Architektura</span></h2>
<ul>
    <li>Wzorce architektoniczne: <strong>Microservices, Ports & Adapters (Hexagon), CQRS, REST, Onion structure</strong></li>
    <li>Wzorce projektowe: <strong>Factory, Mediator, Builder, Facade, Singleton, Strategy, Command</strong></li>
    <li>Testowanie: <strong>SelfContained, SystemUnderTest, Fixture</strong></li>
</ul>

<h2><span class="label label-blue"><i class="fa fa-fw fa-trophy"></i> Egzaminy / Certyfikaty</span></h2>
<ul>
    <li>MCSA Cloud Platform: <strong>Exam 532: Developing Microsoft Azure Solutions, Exam 533: Implementing Microsoft Azure Infrastructure Solutions</strong></li>
    <li>MCSA Web Applications: <strong>Exam 483: Programming in C#</strong></li>
</ul>

<footer>
    <p>
        <div class="page-header text-center">
            <small>
                Wyrażam zgodę na przetwarzanie i przechowywanie moich danych osobowych <br />
                dla potrzeb procesu rekrutacji zgodnie z Ustawą z dnia 29.08.1997r. o Ochronie danych osobowych, Dz. U. Nr 133 poz. 883
            </small>
        </div>
    </p>
</footer>