<div class="row">
    <div class="col-sm-4">
        <img src="~/Images/jmcv.jpg" class="img-responsive img-thumbnail" alt="Janusz Marcinik photo" />
    </div>
    <div class="col-sm-8 text-center">
        <h1>
            <small>Curriculum Vitae</small><br />
            <strong>Janusz Marcinik</strong>
        </h1>
        <h2><span class="label label-blue">.NET & Azure Developer</span></h2>

        <div class="bs-callout bs-callout-info" style="padding: 0;">
            <h4>
                <i class="fa fa-fw fa-facebook-square" aria-hidden="true"></i>
                <a href="https://www.facebook.com/janusz.marcinik" target="_blank">
                    https://www.facebook.com/janusz.marcinik
                </a>
            </h4>
        </div>
        <div class="bs-callout bs-callout-info" style="padding: 0;">
            <h4>
                <i class="fa fa-fw fa-linkedin-square" aria-hidden="true"></i>
                <a href="https://www.linkedin.com/in/janusz-marcinik-371045144" target="_blank">
                    https://www.linkedin.com/in/janusz-marcinik-371045144
                </a>
            </h4>
        </div>
        <div class="bs-callout bs-callout-info" style="padding: 0;">
            <h4>
                <i class="fa fa-fw fa-github-square" aria-hidden="true"></i>
                <a href="https://github.com/januszmarcinik" target="_blank">
                    https://github.com/januszmarcinik
                </a>
            </h4>
        </div>
    </div>
</div>

<h2><span class="label label-blue"><i class="fa fa-id-card-o" aria-hidden="true"></i> Basic informations</span></h2>
<div style="font-size: 1.2em">
    <i class="fa fa-fw fa-home"></i>Address: <strong>38-606 Baligród, Wincentego Pola 5</strong><br />
    <i class="fa fa-fw fa-envelope"></i>Email: <strong>januszmarcinik@gmail.com</strong><br />
    <i class="fa fa-fw fa-mobile-phone"></i>Phone: <strong>+48 726-816-283</strong><br />
    <i class="fa fa-fw fa-user"></i>Date of birth: <strong>19.06.1994r.</strong><br />
    <i class="fa fa-fw fa-language"></i>Foreign language: <strong>English B1+</strong><br />
    <i class="fa fa-fw fa-gamepad"></i>Hobbies: <strong>Books, football, speedway</strong><br />
    <i class="fa fa-fw fa-info"></i>Additional: <strong>Driving licence cat.B</strong><br />
</div>

<h2><span class="label label-blue"><i class="fa fa-fw fa-graduation-cap"></i> Education</span></h2>
<h4>
    <small>2015 - currently<br /></small>
    University of Information Technology and Management in Rzeszow<br />
    <small>Field of study: Information Technology, Specialization: Programming</small>
</h4>

<h2><span class="label label-blue"><i class="fa fa-fw fa-briefcase"></i> Work experience</span></h2>

<h4>
    <small>03.2019 - currently<br /></small>
    Objectivity, 54-429 Wrocław, Strzegomska 142A <br />
    <small>Position: Full-stack Software Developer</small>
</h4>
<hr />
<h4><strong>Application development in the areas of: Azure, .NET, React, Office 365, DevOps:</strong></h4>
<ul>
    <li>Creating solutions based on MS SharePoint Online, React, MS Flow</li>
    <li>Working with CI / CD tools: Azure DevOps</li>
    <li>Managing the infrastructure of Microsoft Azure cloud-based applications</li>
</ul>

<br />
<h4>
    <small>01.2018 - 02.2019<br /></small>
    PGS Software S.A., 35-234 Rzeszów, ul. gen. Stanisława Maczka 6 <br />
    <small>Position: .NET Developer</small>
</h4>
<hr />
<h4><strong>Team work creating a HRM project, for customer from the near-east:</strong></h4>
<ul>
    <li>Daily, direct contact with the client</li>
    <li>Used technologies: Ports & Adapters, C# .NET MVC 5 / WebApi 2, SQL Server 2016, AngularJS</li>
    <li>Project management in VSTS (TFS) system (Agile, Kanban)</li>
    <li>Task execution process: branch per task, pull request, code review, merge</li>
</ul>
<h4><strong>Workshops and personal growth:</strong></h4>
<ul>
    <li>Running a workshop from Azure stack - Azure Redis Cache</li>
    <li>Participation in monthly "rg-dev" programmers' meetings</li>
    <li>Participation in the conference Rzesmiosło.IT</li>
    <li>Participation in English classes (General English)</li>
</ul>

<br />
<h4>
    <small>12.2016 - 12.2017<br /></small>
    Ideo Sp. z o.o., 35-234 Rzeszów, ul. Nad Przyrwą 13<br />
    <small>Position: .NET Developer</small>
</h4>
<hr />
<h4><strong>Performed tasks</strong></h4>
<ul>
    <li>Software development to streamline production processes</li>
    <li>B2B software development</li>
    <li>Used technologies: ASP.NET MVC 5, C#, SQL Server, EntityFramework, WebService, WebApi, SOAP</li>
    <li>Integrations with ERP systems: Insert GT, Insert Navireo</li>
    <li>Working with GIT version control system</li>
    <li>Deploying and maintaining applications on customer's server</li>
    <li>Direct contact with customer</li>
    <li>Business trips to determine project requirements</li>
</ul>

<h2><span class="label label-blue"><i class="fa fa-fw fa-microchip"></i> Technologies</span></h2>
<ul>
    <li>Backend: <strong>.NET Core, ASP.NET MVC / WebApi</strong></li>
    <li>Cloud: <strong>Microsoft Azure</strong></li>
    <li>Frontend: <strong>Angular, React</strong></li>
</ul>

<h2><span class="label label-blue"><i class="fa fa-fw fa-cogs"></i> Tools</span></h2>
<ul>
    <li>Programming languages: <strong>C#, JavaScript, TypeScript, SQL</strong></li>
    <li>Azure: <strong>Azure Web App, Azure Storage, Azure Functions, Azure Redis Cache, Azure Active Directory</strong></li>
    <li>Version control management: <strong>GIT, SourceTree, Azure DevOps, BitBucket, GitHub, GitLab</strong></li>
    <li>Testing: <strong>Moq, NSubstitute, xUnit, FluentAssertions</strong></li>
    <li>IoC / DI: <strong>Autofac, Unity, Ninject</strong></li>
    <li>Data management: <strong>MS SQL Server, Azure Table Storage, EntityFramework, Dapper, ElasicSearch, Redis Cache</strong></li>
    <li>Projects management: <strong>Azure DevOps, Jira</strong></li>
    <li>CI / CD: <strong>Azure DevOps</strong></li>
    <li>Logging: <strong>NLog, Serilog, SEQ, Kibana</strong></li>
    <li>Others: <strong>LINQ, Swagger, AutoMapper, Postman</strong></li>
</ul>

<h2><span class="label label-blue"><i class="fa fa-fw fa-cubes"></i> Architecture</span></h2>
<ul>
    <li>Architecture patterns: <strong>Microservices, Ports & Adapters (Hexagon), CQRS, REST, Onion structure</strong></li>
    <li>Design patterns: <strong>Factory, Mediator, Builder, Facade, Singleton, Strategy, Command</strong></li>
    <li>Testing: <strong>SelfContained, SystemUnderTest, Fixture</strong></li>
</ul>

<h2><span class="label label-blue"><i class="fa fa-fw fa-trophy"></i> Certificates</span></h2>
<ul>
    <li><a href="https://www.youracclaim.com/badges/0e51efe6-fbcf-497b-b4f0-432abe5ec739" target="_blank">Microsoft Certified: <strong>Azure Developer Associate</strong></a></li>
    <li><a href="https://www.youracclaim.com/badges/1dbee282-8dbc-4a86-8de6-5da94d690f64" target="_blank">MCSD: <strong>App Builder — Certified 2019</strong></a></li>
    <li><a href="https://www.youracclaim.com/badges/a452a8a6-6ed5-4dc6-91f1-7fe60c232af1" target="_blank">MCSA: <strong>Web Applications - Certified 2019</strong></a></li>
    <li><a href="https://www.youracclaim.com/badges/44aa5841-3e6a-49c2-b755-151f58803f55" target="_blank">MCSE: <strong>Cloud Platform and Infrastructure — Certified 2018</strong></a></li>
    <li><a href="https://www.youracclaim.com/badges/56ff7410-39ca-438a-9344-8ab9d94bb62c" target="_blank">MCSA: <strong>Cloud Platform - Certified 2018</strong></a></li>
</ul>

<footer>
    <p>
        <div class="page-header text-center">
            <small>
                I hereby give consent for my personal data included in my application to be processed for the purposes of the recruitment process <br />
                under the Personal Data Protection Act as of 29 August 1997, consolidated text: Journal of Laws 2016, item 922 as amended.
            </small>
        </div>
    </p>
</footer>