<div class="row">
    <div class="col-sm-4">
        <img src="~/Images/jmcv.jpg" class="img-responsive img-thumbnail" alt="Janusz Marcinik photo" />
    </div>
    <div class="col-sm-8 text-center">
        <h1>
            <small>Curriculum Vitae</small><br />
            <strong>Janusz Marcinik</strong>
        </h1>
        <h2><span class="label label-blue">.NET & Azure Developer</span></h2>

        <div class="bs-callout bs-callout-info" style="padding: 0;">
            <h4>
                <i class="fa fa-fw fa-facebook-square" aria-hidden="true"></i>
                <a href="https://www.facebook.com/janusz.marcinik" target="_blank">
                    https://www.facebook.com/janusz.marcinik
                </a>
            </h4>
        </div>
        <div class="bs-callout bs-callout-info" style="padding: 0;">
            <h4>
                <i class="fa fa-fw fa-linkedin-square" aria-hidden="true"></i>
                <a href="https://www.linkedin.com/in/janusz-marcinik-371045144" target="_blank">
                    https://www.linkedin.com/in/janusz-marcinik-371045144
                </a>
            </h4>
        </div>
        <div class="bs-callout bs-callout-info" style="padding: 0;">
            <h4>
                <i class="fa fa-fw fa-github-square" aria-hidden="true"></i>
                <a href="https://github.com/januszmarcinik" target="_blank">
                    https://github.com/januszmarcinik
                </a>
            </h4>
        </div>
    </div>
</div>

<h2><span class="label label-blue"><i class="fa fa-id-card-o" aria-hidden="true"></i> Podstawowe informacje</span></h2>
<div style="font-size: 1.2em">
    <i class="fa fa-fw fa-home"></i>Adres: <strong>38-606 Baligród, Wincentego Pola 5</strong><br />
    <i class="fa fa-fw fa-envelope"></i>Email: <strong>januszmarcinik@gmail.com</strong><br />
    <i class="fa fa-fw fa-mobile-phone"></i>Telefon: <strong>+48 726-816-283</strong><br />
    <i class="fa fa-fw fa-user"></i>Data urodzenia: <strong>19.06.1994r.</strong><br />
    <i class="fa fa-fw fa-language"></i>Język obcy: <strong>Angielski B2</strong><br />
    <i class="fa fa-fw fa-gamepad"></i>Zainteresowania: <strong>Książki, piłka nożna, żużel</strong><br />
    <i class="fa fa-fw fa-info"></i>Dodatkowe: <strong>Prawo jazdy kat.B</strong><br />
</div>

<h2><span class="label label-blue"><i class="fa fa-fw fa-graduation-cap"></i> Edukacja</span></h2>
<h4>
    <small>2015 - obecnie<br /></small>
    Wyższa Szkoła Informatyki i Zarządzania w Rzeszowie<br />
    <small>Kierunek: Informatyka, Specjalizacja: Programowanie</small>
</h4>

<h2><span class="label label-blue"><i class="fa fa-fw fa-briefcase"></i> Praca</span></h2>

<h4>
    <small>01.2018 - obecnie<br /></small>
    PGS Software S.A., 35-234 Rzeszów, ul. gen. Stanisława Maczka 6 <br />
    <small>Stanowisko: .NET Developer</small>
</h4>
<hr />
<h4><strong>Praca w zespole, tworzącym projekt typu HRM, dla klienta z bliskiego wchodu:</strong></h4>
<ul>
    <li>Codzienny, bezpośredni kontakt z klientem</li>
    <li>Wykorzystywane technologie: Ports & Adapters, C# .NET MVC 5 / WebApi 2, SQL Server 2016, AngularJS</li>
    <li>Zarządzanie projektem w systemie VSTS (TFS) (Agile, Kanban)</li>
    <li>Proces wykonywania zadań: branch per task, pull request, code review, merge</li>
</ul>
<h4><strong>Warsztaty i rozwój osobisty:</strong></h4>
<ul>
    <li>Prowadzenie warsztatów (.NET Core, Azure Redis Cache)</li>
    <li>Udział w comiesięcznych spotkaniach programistów "rg-dev"</li>
    <li>Uczestnictwo w konferencji Rzesmiosło.IT</li>
    <li>Udział w zajęciach z języka angielskiego (General English)</li>
</ul>

<br />
<h4>
    <small>03.2019 - 05.2019<br /></small>
    Objectivity, 54-429 Wrocław, Strzegomska 142A <br />
    <small>Stanowisko: Full-stack Software Developer</small>
</h4>
<hr />
<h4><strong>Development aplikacji w zakresie: Azure, .NET, React, Office 365, DevOps:</strong></h4>
<ul>
    <li>Tworzenie rozwiązań opartych na MS SharePoint Online, React, MS Flow</li>
    <li>Praca z narzędziami CI / CD: Azure DevOps</li>
    <li>Zarządzanie infrastrukturą aplikacji opartych na chmurze Microsoft Azure</li>
</ul>

<br />
<h4>
    <small>12.2016 - 12.2017<br /></small>
    Ideo Sp. z o.o., 35-234 Rzeszów, ul. Nad Przyrwą 13<br />
    <small>Stanowisko: .NET Developer</small>
</h4>
<hr />
<h4><strong>Wykonywane zadania</strong></h4>
<ul>
    <li>Tworzenie oprogramowania usprawniającego procesy produkcyjne</li>
    <li>Współtworzenie oprogramowania dla przedsiębiorstw typu B2B</li>
    <li>Wykorzystywane technologie: ASP.NET MVC 5, C#, SQL Server, EntityFramework, WebService, WebApi, SOAP</li>
    <li>Integracja z systemami ERP: Insert GT, Insert Navireo</li>
    <li>Praca w systemie kontroli wersji GIT</li>
    <li>Wdrażanie oraz utrzymywanie aplikacji na serwerze klienta</li>
    <li>Bezpośredni kontakt z klientem</li>
    <li>Wyjazdy służbowe celem ustaleń wymagań projektów</li>
</ul>

<h2><span class="label label-blue"><i class="fa fa-fw fa-microchip"></i> Technologie</span></h2>
<ul>
    <li>Backend: <strong>.NET Core, ASP.NET MVC / WebApi</strong></li>
    <li>Chmura: <strong>Microsoft Azure</strong></li>
    <li>Frontend: <strong>Angular, React</strong></li>
</ul>

<h2><span class="label label-blue"><i class="fa fa-fw fa-cogs"></i> Narzędzia</span></h2>
<ul>
    <li>Języki programowania: <strong>C#, JavaScript, TypeScript, SQL</strong></li>
    <li>Azure: <strong>Azure Web App, Azure Storage, Azure Functions, Azure Redis Cache, Azure Active Directory</strong></li>
    <li>Zarządzanie kontrolą wersji: <strong>GIT, SourceTree, Azure DevOps, BitBucket, GitHub, GitLab</strong></li>
    <li>Testowanie: <strong>Moq, NSubstitute, xUnit, FluentAssertions</strong></li>
    <li>IoC / DI: <strong>Autofac, Unity, Ninject</strong></li>
    <li>Zarządzanie danymi: <strong>MS SQL Server, Azure Table Storage, EntityFramework, Dapper, ElasicSearch, Redis Cache</strong></li>
    <li>Zarządzanie projektami: <strong>Azure DevOps, Jira</strong></li>
    <li>CI / CD: <strong>Azure DevOps</strong></li>
    <li>Logowanie: <strong>NLog, Serilog, SEQ, Kibana</strong></li>
    <li>Pozostałe: <strong>LINQ, Swagger, AutoMapper, Postman</strong></li>
</ul>

<h2><span class="label label-blue"><i class="fa fa-fw fa-cubes"></i> Architektura</span></h2>
<ul>
    <li>Wzorce architektoniczne: <strong>Microservices, Ports & Adapters (Hexagon), CQRS, REST, Onion structure</strong></li>
    <li>Wzorce projektowe: <strong>Factory, Mediator, Builder, Facade, Singleton, Strategy, Command</strong></li>
    <li>Testowanie: <strong>SelfContained, SystemUnderTest, Fixture</strong></li>
</ul>

<h2><span class="label label-blue"><i class="fa fa-fw fa-trophy"></i> Certyfikaty</span></h2>
<ul>
    <li><a href="https://www.youracclaim.com/badges/0e51efe6-fbcf-497b-b4f0-432abe5ec739" target="_blank">Microsoft Certified: <strong>Azure Developer Associate</strong></a></li>
    <li><a href="https://www.youracclaim.com/badges/1dbee282-8dbc-4a86-8de6-5da94d690f64" target="_blank">MCSD: <strong>App Builder — Certified 2019</strong></a></li>
    <li><a href="https://www.youracclaim.com/badges/a452a8a6-6ed5-4dc6-91f1-7fe60c232af1" target="_blank">MCSA: <strong>Web Applications - Certified 2019</strong></a></li>
    <li><a href="https://www.youracclaim.com/badges/44aa5841-3e6a-49c2-b755-151f58803f55" target="_blank">MCSE: <strong>Cloud Platform and Infrastructure — Certified 2018</strong></a></li>
    <li><a href="https://www.youracclaim.com/badges/56ff7410-39ca-438a-9344-8ab9d94bb62c" target="_blank">MCSA: <strong>Cloud Platform - Certified 2018</strong></a></li>
</ul>

<footer>
    <p>
        <div class="page-header text-center">
            <small>
                Wyrażam zgodę na przetwarzanie i przechowywanie moich danych osobowych <br />
                dla potrzeb procesu rekrutacji zgodnie z Ustawą z dnia 29.08.1997r. o Ochronie danych osobowych, Dz. U. Nr 133 poz. 883
            </small>
        </div>
    </p>
</footer>